<a href="https://colab.research.google.com/github/mansiiiiiiiiiiiii/Begin/blob/main/BeginPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from os import name
print("HEllo World")
print("""College""")
print(len("I love coffee"))
message="Sleep is important"
print(message[10])
print(message[0:9])

#method and function
remember="LIFE GOES ON"
print(remember.lower())
also_remember=remember.replace("ON","BEHIND")
print(also_remember)


color="Blue"
flower="Daisy"
Word = color+ ' ' + flower
print(Word)

ABC=f"{color},{flower.upper()}.Roster!"
print(ABC)

print(dir(name))

print(help(str.upper))

HEllo World
College
13
m
Sleep is
life goes on
LIFE GOES BEHIND
Blue Daisy
Blue,DAISY.Roster!
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

None

In [ ]:
num=(20.866)
print(type(num))
print(56+3)
print(7//8)
print(8**77)
print(9%29)
print(2%2)
print(3%2)
print(4%2)
print(5%2)
print(3*2+1)
no=1
no *=10
print(no)

print(abs(-45))
print(abs(0.55))
print(round(9.77,1))

<class 'float'>
59
0
3450873173395281893717377931138512726225554486085193277581262111899648
9
0
1
0
1
7
10
45
0.55
9.8

In [ ]:
courses=["micro","macro","stats","metrics"]
print(courses.index("stats"))
courses.append("comp.")
courses.remove("metrics")
courses.pop()
courses.reverse()
courses_2=["Psychology","Art"]
courses.insert(0,courses_2 )
courses.extend(courses_2)
print("art" in courses)
print(courses)
print(courses[-1])
print(courses[-2])
print(courses[:2])
print(courses[2:4])
for item in courses:
  print(item)

nums=[3,6,4,8,9,6,2]
print(sum(nums))
nums.sort(reverse=True)
print(nums)

2
False
[['Psychology', 'Art'], 'stats', 'macro', 'micro', 'Psychology', 'Art']
Art
Psychology
[['Psychology', 'Art'], 'stats']
['macro', 'micro']
['Psychology', 'Art']
stats
macro
micro
Psychology
Art
38
[9, 8, 6, 6, 4, 3, 2]

In [ ]:
courses=["History","Polity","Maths","Sociology"]
for index, course in enumerate(courses, start=1):
  print(index,course)

course_str=", ".join(courses)
new_list=course_str.split(' _ ')
print(new_list)
print(course_str)

1 History
2 Polity
3 Maths
4 Sociology
['History, Polity, Maths, Sociology']
History, Polity, Maths, Sociology

In [ ]:
#Tuples and sets
tuple_1=["mango","apple","orange","melon"]
tuple_2=tuple_1
print(tuple_2)

fruits={"mango","apple","orange","melon","papaya"}
fruits_2={"mango","orange","papaya","watermelon","lychee"}
print(fruits)
print(fruits.intersection(fruits_2))
print(fruits.union(fruits_2))

Empty_list=[]
empty_list=list()

empty_tuple=()
empty_tuple=tuple()

empty_set={}
empty_set=set()

['mango', 'apple', 'orange', 'melon']
{'apple', 'mango', 'papaya', 'melon', 'orange'}
{'papaya', 'orange', 'mango'}
{'watermelon', 'papaya', 'melon', 'apple', 'mango', 'lychee', 'orange'}

In [ ]:
#Dictionary
student={"name":"Ali","age":21,"courses":["Maths","Comp"]}
student["phone"]="000000-000000"
student.update({"name":"Zane","age":"23"})
print(student.get("phone","Not_Found"))
print(student)
del student["age"]
print(student)

name=student.pop("name")
print(name)
print(len(student))
print(student.values())
print(student.items())

for key in student:
  print(key)

000000-000000
{'name': 'Zane', 'age': '23', 'courses': ['Maths', 'Comp'], 'phone': '000000-000000'}
{'name': 'Zane', 'courses': ['Maths', 'Comp'], 'phone': '000000-000000'}
Zane
2
dict_values([['Maths', 'Comp'], '000000-000000'])
dict_items([('courses', ['Maths', 'Comp']), ('phone', '000000-000000')])
courses
phone

In [ ]:
language="Java"

if language=="Python":
  print("Language is Python")

elif language=="Java":
   print("Language is Java")

elif language=="C+":
   print("Language is C+")

else:
  print("no match")

Language is Java

In [ ]:
user="Admin"
logged_in=False

if not logged_in:
  print("Please Log In")

else:
  print("Welcome")

Please Log In

In [ ]:
a=[1,2,3]
b=[1,2,4]
a=b

print(id(a))
print(id(b))
print(a is b)

140370136839936
140370136839936
True

In [ ]:
condition = None
if condition:
  print("Evaluated to True")

else:
  print("Evaluated to False")

Evaluated to False

In [ ]:
nums=[1,3,5,6]
for num in nums:
  if num==4:
    print('Found it')
    break
    continue
  print(num)

1
3
5
6

In [ ]:
nums=[1,2,3,4,5]
for num in nums:
  for letter in "abc":
    print(num,letter)

for i in range(1,11):
  print(i)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c
1
2
3
4
5
6
7
8
9
10

In [ ]:
x=1
while x<10:
  if x==5:
    break
  print(x)
  x += 1

1
2
3
4

In [ ]:
def hello_func():
  return "Hello Function"

hello_func()
hello_func()
hello_func()
hello_func()

print(hello_func())
print(hello_func())
print(hello_func())
print(hello_func())

print(len("Test"))

Hello Function
Hello Function
Hello Function
Hello Function
4

In [ ]:
def hello_func(greeting, name="You"):
  return "{} {}".format(greeting,name)

print(hello_func("hii","Adam"))

def student_info(*args, **kwargs):
  print(args)
  print(kwargs)

student_info("Math","Psycho", name="Joi", age="21")

hii Adam
('Math', 'Psycho')
{'name': 'Joi', 'age': '21'}

In [ ]:
month_days=[0,31,28,31,30,31,30,31,31,30,31,30,31]
def is_leap(year):
  """Return True for leap years, False for non-leap years."""
  return year % 4==0 and (year % 100 != 0 or year % 400 == 0)

def days_in_month(year,month):
  """Return no. of days in that month in that year"""

  if not 1 <= month <=12:
    return "Invalid Month"

  if month == 2 and is_leap(year):
    return 29

  return month_days[month]

print(is_leap(2017))
print(is_leap(2000))

False
True

In [ ]:
# A no. is even or odd

def num(number):
  if number % 2 == 0:
    return "Even"
  else:
    return "Odd"

print(num(98858))

Even

In [ ]:
#Leap Year
month_days=[0,31,29,31,30,31,30,31,31,30,31,30,31]

def leap_year(year):
  if year % 4 == 0 and (year % 100 != 0  or year % 400 == 0):
       return "Leap Year"
  else:
    return "Not a Leap Year"


print(leap_year(600))

Not a Leap Year

In [ ]:
#Calculate Average

def calculate_average(numbers):
    return float(sum(numbers) / len(numbers))

print(calculate_average([6,5,8,9]))

7.0

In [ ]:
# Reverse String

def reverse_string(string):
  str=""
  for i in string:
    str = i + str
  return(str)

print(reverse_string("Hello World!"))

!dlroW olleH

In [ ]:
word="Keys"
i=list(word)
print(i)

['K', 'e', 'y', 's']

In [ ]:
def count_vowels(string):
  vowels="aeiouAEIOU"
  count=0
  for char in string:
    if char in vowels:
      count += 1
  return count

print(count_vowels("I like my chair"))

5

In [ ]:
def is_palindrome(word):
  reverse_string=""
  for i in word:
    reverse_string=i+reverse_string

  if word.lower() == reverse_string.lower() :
    return True

  else:
    return False

print(is_palindrome("MiliM"))

True

In [ ]:
num=[8]
for i in num:
  i=float
  if i==0:
    break
  continue
  i*=(i-1)

print(i)

<class 'float'>

In [ ]:
def factorial(number):
  result=1
  for i in range(1, number+1):
    result *= i
  return result

print(factorial(5))

120

In [ ]:
def remove_duplicates(list):
  list=set(list)
  return(list)

print(remove_duplicates([11,5,66,88,4,6,4,0]))

{0, 66, 4, 5, 6, 11, 88}

In [ ]:
def remove_duplicates(lst):
  seen=[]
  for item in lst:
    if item not in seen:
      seen.append(item)
  return seen

print(remove_duplicates([2,77,4,2,8,5,5,9]))

[2, 77, 4, 8, 5, 9]

In [ ]:
c = float(input("Enter Temprature in Celcius: "))
f = (c*9/5)+32
print("Temprature in Fahrenheit: ",(f))
k = c + 273.15
print("Temprature in Kelvin: ", (k))

Enter Temprature in celcius: 76
Temprature in Fahrenheit:  168.8
Temprature in Kelvin:  349.15

In [ ]:
a = float(input("Guess the number (between 1 and 10): "))
if 1<a<7:
  print("Too low! Try again.")

elif a==7:
  print("Congratulations! You guessed the correct number.")

elif 10>=a>7:
  print("Too high! Try again")

else:
  print("Number outside the range")

Guess the number (between 1 and 10): 10
Too high! Try again

In [ ]:
def palindrome(word):
  string=""
  for i in word:
    string=(i+string)

  if word.lower()==string.lower():
    return "Is a palindrome"

  else:
   return "Is not a palindrome"

print(palindrome("radar"))

Is not a palindrome

In [ ]:
# Greeting program
name=input("Write yourname: ")
print("hello")

In [ ]:
lst = input("Enter a list of numbers, seperated by spaces: ").split()
sum=0

for num in lst:
  sum += int(num)

print("the sum of numbers is: ", sum)

In [ ]:
sentence = input("Type a sentence: ")
words = sentence.split()
word_count={}
print("Word Count: ")
for word in words:
  if word not in word_count:
    word_count[word]=1

    continue

  else:
    word_count[word] += 1
for word, count in word_count.items():
  print(word," : ",count)

Type a sentence: hii alsa hii elsa
Word Count:
hii  :  2
alsa  :  1
elsa  :  1